body {
   background-color: rgb(255, 255, 255);
}
.conteiner {
   display: flex;
   justify-content: center;
   align-items: center;
   }
.conteiner {
   display: flex;
   align-items: center;
   justify-content: center;
}
.container {
   position: relative;
}
.item {
   position: absolute;
   top: 50%;
   
}