body {
   background-color: rgb(132, 176, 214);
}
.conteiner {
   display: flex;
   justify-content: center;
   align-items: center;
   }
.conteiner {
   display: flex;
   align-items: center;
   justify-content: center;
   align-items: center;
}
.p {
   display: flex;
   align-items: center;
   justify-content: center;
}


