body {
   background-color: rgba(214, 214, 214, 0);
}
.conteiner {
   display: flex;
   justify-content: center;
   align-items: center;
   }
.conteiner {
   display: flex;
   align-items: center;
   justify-content: center;
   align-items: center;
}
.p {
   display: flex;
   align-items: center;
   justify-content: center;
}
h1 {
   display: inline-block;
   background: linear-gradient(rgb(139, 6, 151),rgb(6, 42, 143));
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}
